@{
    ViewData["Title"] = "Get to Know Joel";
}

<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/">Baconsale</a>
<br />
<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" class="img-fluid rounded" /></a>
